@black:     #3A3A3A;
@red:       #E3170A;
@off-white: #DAE5E3;
@white:     #ffffff;

@import "normalize.less";
@import "inter.less";
@import "skeleton.less";
@import "media-queries.less";
@import "animations.less";

html {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'zero' 1, 'ss01' 1;
  background-color: @off-white;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'zero' 1, 'ss01' 1;
  }
}

.intro {
  padding: 7rem 0 0 0;
  + .intro {
    padding: 0 0 7rem 0;
  }
}
.price-background {
  background-color: @black;
  padding: 8rem 0;
  h2 {
    color: @white;
  }
}
.price-detail {
  background-color: @off-white;
  color: @black;
  padding: 2rem;
}
.price-label {
  font-size: 2rem;
  margin-bottom: 3rem;
  position: relative;
  max-width: 15rem;
  &:after {
    content: "";
    background: @red;
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 15rem;
    height: 2px;
  }
}
.price {
  font-style: italic;
  font-weight: 900;
  font-size: 7rem;
  text-align: center;
  margin: 5rem 0;
}
.price-note {
  font-size: 1.25rem;
  font-style: oblique;
}
header {
  padding: 60px 0;
}


.wordmark {
  transition: 750ms opacity cubic-bezier(0.165, 0.84, 0.44, 1);
}

.jumbo {
  font-size: 5rem;
  font-weight: 900;
  margin: 0;
  line-height: 5rem;
}
.jumbo-label {
  font-size: 2rem;
}
.jumbo,
.jumbo-label {
  text-align: right;
}

.nav-links {
  display: none;
}
.logo-and-nav {
  svg {
    width: 5rem;
  }
}
.city-list {
  list-style: none;
  li {
    display: none;
  }
}
.more-than-tacoma {
  position: relative;
  min-height: 100vh; // I don't trust this
  svg {
    position: absolute;
    z-index: -1;
    margin: 25rem 0;
    path {
      display: none;
      opacity: 0.1;
    }
  }
}
