@black:         #202034;
@light-black:   fade( @black, 60% );
@x-light-black: fade( @black, 25% );
@red:           #fb431e;
@turquoise:     #9bbdb8;
@off-white:     #DAE5E3;
@white:         #FFFFFF;
@light-pink:    #EFCDC7; // unused except in _wordmark.svg

//red
//firefox rgb(248, 69, 44)
//safari #fb431e

@import "normalize.less";
@import "inter.less";
@import "skeleton.less";
@import "media-queries.less";
@import "animations.less";

html {
	font-family: 'Inter', sans-serif;
	font-feature-settings: 'zero' 1, 'ss01' 1;
	background-color: @off-white;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
		font-feature-settings: 'zero' 1, 'ss01' 1;
	}
}
.x-light-black {
	color: @x-light-black;
}
.intro {
	padding: 7rem 0 0 0;
	+ .intro {
		padding: 0 0 7rem 0;
	}

}
.dark-background {
	background-color: @turquoise;
	padding: 6rem 0 3rem 0;
}
.price-detail {
	background-color: @white;
	color: @black;
	padding: 2rem;
	margin-bottom: 3rem;
}
.price-label {
	font-size: 1.75rem;
	margin-bottom: 3rem;
	position: relative;
	max-width: 15rem;
	&:after {
		content: "";
		background: @red;
		position: absolute;
		bottom: -1rem;
		left: 0;
		width: 15rem;
		height: 2px;
	}
}
.price {
	font-style: italic;
	font-weight: 900;
	font-size: 7rem;
	text-align: center;
	margin: 5rem 0;
}
.price-note {
	font-size: 1.25rem;
	font-style: oblique;
}
.wordmark-background {
	background-color: @red;
}
.wordmark {
	padding: 60px 0;
}

.jumbo {
	font-size: 5rem;
	font-weight: 900;
	margin: 0;
	line-height: 5rem;
}
.jumbo-label {
	font-size: 2rem;
}
.jumbo,
.jumbo-label {
	text-align: right;
}

.nav-links {
	display: none;
}
.logo-and-nav {
	display: flex;
	justify-content: center;
	padding: 20px 0 0 0;
	svg {
		width: 5rem;
	}
}
a {
	color: @black;
	border-bottom: 0.5px solid @red;
	text-decoration: none;
	transition: all 750ms;
	&:hover {
		color: @light-black;
	}
}
.city-list {
	list-style: none;
	li {
		opacity: 0;
	}
}
.more-than-tacoma {
	position: relative;
	svg {
		position: absolute;
		z-index: -1;
		margin: 25rem 0;
		path {
			opacity: 0;
		}
	}
}
header {
	background: @red;
}

.example {
	margin-top: 5rem;
	a {
		border-bottom: none;
	}
	img {
		margin-bottom: 2rem;
		transition: box-shadow 750ms ease;
		&:hover {
			box-shadow:
				5px 5px 0 0 @off-white,
				9px 9px 0 0 @red;
		}

	}
}
.shadow--light {
	box-shadow:
		5px 5px 0 0 @turquoise,
		9px 9px 0 0 @off-white;
}
.shadow--dark {
	box-shadow:
		5px 5px 0 0 @off-white,
		9px 9px 0 0 @turquoise;
}
h5 {
	margin-top: 2rem !important;
}
.example-text {
	&:last-of-type {
		margin-bottom: 10rem;
	}
}